<%= render "layouts/navbar" %>
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('https://images.unsplash.com/photo-1515378791036-0648a3ef77b2?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80')">
<div class="container"></div>
</div>
<div class="container">
  <h1>All my bookings</h1>
    <% @bookings.each do |booking| %>
      <div class="friend-service">
        <div class="friend-service-content">
        <div class="row">
          <div class="col-6">
            <h1>Booking #<%=booking.id%> with <%= booking.friend_service.first_name%> <%= booking.friend_service.last_name%></h1><br>
              <h2><%= booking.friend_service.title %></h2>
              <h3><%= booking.friend_service.description %></h3><br>
              <strong>Category:</strong> <%= booking.friend_service.category %><br>
              <strong>Interests:</strong> <%= booking.friend_service.interests %><br><br>
              <strong>Start date:</strong> <%= booking.start_date %><br>
              <strong>End date:</strong> <%= booking.end_date %><br><br>
              <%= link_to 'See Service', friend_service_path(booking.friend_service), class: 'btn btn-primary btn-sm'%>
              <%= link_to 'Delete Booking', friend_service_booking_path(booking.friend_service, booking), class: 'btn btn-danger btn-sm', data: {turbo_method: :delete, turbo_confirm: "Are you sure you?"} %>
            </div>
            <div class="col-6">
              <%= cl_image_tag(booking.friend_service.photo.key, class: "booking-image ") %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <%= render "layouts/footer" %>
