<%= render "layouts/navbar" %>
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('<%= cl_image_path @friend_service.photo.key %>')">
<div class="container"></div>
</div>

<div class="container">
  <h1>Book your Friend</h1>
  <%= link_to "â† Go back", friend_services_path, class: 'btn btn-primary btn-sm'%>
  <br><br>
    <%= simple_form_for([@friend_service, @booking]) do |f| %>
      <%= f.input :start_date, as: :date, html5: true %>
      <%= f.input :end_date, as: :date, html5: true %>
      <%= f.submit class: 'btn btn-primary btn-sm'%>
    <% end %>
</div>
<%= render "layouts/footer" %>
