<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1444210971048-6130cf0c46cf?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1173&q=80);">
  <div class="container">
    <h1>RentAFriend</h1>
    <p>Some catchy Subline</p>
  </div>
</div>

<div class="container">
<h2>All Friend Services</h2>
<br>
  <div class="row">
    <% @friend_services.each do |friend_service| %>
      <div class="col-6">
        <div class="friend-service">
          <img style="height: 250px; width: 100%; object-fit: cover;" src="https://images.unsplash.com/photo-1486704155675-e4c07f8ad160?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80" alt="">
          <div class="friend-service-content">
            <h1><%= friend_service.title %></h2>
            <h2><%= friend_service.description %></>
            <div class="friend-service-details">
              <p><strong>Availability:</strong><br><%= friend_service.availability %></p>
              <p><strong>Category:</strong><br><%= friend_service.category %></p>
              <p><strong>Interests:</strong><br><%= friend_service.interests %></p>
              <p><strong>About:</strong><br><%= friend_service.first_name %>, <%= friend_service.age %>, <%= friend_service.gender %></p>
            </div>
            <br>
            <%= link_to "See Service", friend_service_path(friend_service), class: "btn btn-primary btn-sm"%>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
