<%= render "layouts/navbar" %>
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1444210971048-6130cf0c46cf?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1173&q=80);">
  <div class="container">
    <h1>RentAFriend</h1>
    <h2>Find friends for fun activities</h2>
    <%= link_to 'Add Friend Service', new_friend_service_path, class: 'btn btn-primary btn-sm' %>
  </div>
</div>

<div class="container"  id="friend-services">
  <h1 class="index-title">Friend Services</h1>
  <%= form_with url: friend_services_path, method: :get, class: "d-flex search-field" do %>
    <%= text_field_tag :query,
      params[:query],
      class: "form-control",
      placeholder: "Find a Friend Service"
    %>
    <%= submit_tag "Search", class: "btn btn-primary" %>
    <% end %>
  <br><br><br>

  <div class="row">
    <% @friend_services.each do |friend_service| %>
      <div class="col-6">
        <div class="friend-service">
          <%= cl_image_tag(friend_service.photo.key, class: "friend-service-overview-image ") %>
          <div class="absolute">
            <div class="price-on-img">
              <h3>$<%= friend_service.price %>0</h3>
            </div>
          </div>
          <div class="friend-service-content">
            <div class="friend-service-title-image">
                <div>
                  <h1><%= friend_service.title %></h2>
                  <h2><%= friend_service.description %>
                </div>
                <div>
                  <%= cl_image_tag(friend_service.user.photo.key, class: "friend-service-overview-user-image") %>
                </div>
              </div>
            <div class="friend-service-details">
              <p><strong>Availability:</strong><br><%= friend_service.availability %></p>
              <p><strong>Category:</strong><br><%= friend_service.category %></p>
              <p><strong>About the friend:</strong><br><%= friend_service.user.first_name %>, <%= friend_service.user.age %>, <%= friend_service.user.gender %></p>
            </div>
            <br>
            <%= link_to "See Service", friend_service_path(friend_service), class: "btn btn-primary btn-sm"%>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  
</div>

<div class="container">
  <div style="width: 100%; height: 600px;"
    data-controller="map"
    data-map-markers-value="<%= @markers.to_json %>"
    data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>
</div>

<%= render "layouts/footer"%>
