<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1444210971048-6130cf0c46cf?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1173&q=80);">
  <div class="container">
    <h1>RentAFreind</h1>
    <p>Some catchy Subline</p>
  </div>
</div>

<div class="container">
  <div class="row">
    <% @friend_services.each do |friend_services| %>
      <div class="col-3">
        <p><strong>Title:</strong> <%= friend_services.title %></p>
        <p><strong>Description:</strong> <%= friend_services.description %></p>
        <p><strong>First Name:</strong> <%= friend_services.first_name %></p>
        <p><strong>Last Name:</strong> <%= friend_services.last_name %></p>
        <%= link_to "See Service", friend_services_path(friend_services)%>
      </div>
    <% end %>
  </div>
</div>
