<%= render "layouts/navbar" %>

<div class="container">
  <h1>All my Friend Services</h1>
  <%= link_to "Add service", new_friend_service_path, class: 'btn btn-primary btn-sm'%>
  <br>
  <br>

<div class="row">
    <% @my_friend_services.each do |listing| %>
      <div class="col-6">
        <div class="friend-service">
          <%= cl_image_tag(listing.photo.key, class: "friend-service-overview-image ") %>
          <div class="absolute">
            <div class="price-on-img">
              <h3>$<%= listing.price %>0</h3>
            </div>
          </div>
          <div class="friend-service-content">
            <div class="friend-service-title-image">
                <div>
                  <h1><%= listing.title %></h2>
                  <h2><%= listing.description %>
                </div>
                <div>
                  <%= cl_image_tag(listing.user.photo.key, class: "friend-service-overview-user-image") %>
                </div>
              </div>
            <div class="friend-service-details">
              <p><strong>Availability:</strong><br><%= listing.availability %></p>
              <p><strong>Category:</strong><br><%= listing.category %></p>
            </div>
            <br>
            <%= link_to "See Service", friend_service_path(listing), class: "btn btn-primary btn-sm"%>
          </div>
        </div>
      </div>
    <% end %>
  </div>

</div>

<%= render "layouts/footer" %>
