<%= render "layouts/navbar" %>
<div class="container">
  <%= link_to "â† Go back", friend_services_path, class: 'btn btn-primary btn-sm'%>
  <br>
  <br>
  <div class="row">
    <div class="col-6">
      <%= cl_image_tag(@friend_service.photo.key, class: "friend-service-detail-image") %>
    </div>
    <div class="col-6">
      <h1><%= @friend_service.title %></h1>
      <h2><%= @friend_service.description %></h2>
      <br>
      <h3>Availability:</h3>
      <p><%= @friend_service.availability %></p>
      <br>
      <h3>Price:</h3>
      <p>$<%= @friend_service.price %>0</p>
      <br>
      <h3>Category:</h3>
      <p><%= @friend_service.category %></p>
      <br>
      <h3>About the friend:</h3>
      <div class="about-the-friend">
        <div>
          <%= cl_image_tag(@friend_service.user.photo.key, class: "friend-service-overview-user-image") %>
        </div>
        <div>
          <p><strong>Name:</strong> <%= @friend_service.user.first_name  %> <%= @friend_service.user.last_name %>, <%= @friend_service.user.age %> years old</p>
          <p><strong>Gender:</strong> <%= @friend_service.user.gender %></p>
          <p><strong>Contact:</strong> <%= @friend_service.user.email %></p>
        </div>
      </div>
      <br>
      <br>
      <%= link_to 'Book this buddy', new_friend_service_booking_path(@friend_service), class: 'btn btn-success btn-sm' %>

      <% if user_signed_in? && @user.first_name == current_user.first_name %>
        <%= link_to 'Update Service', edit_friend_service_path(@friend_service), class: 'btn btn-primary btn-sm' %>
        <%= link_to 'Delete Service', friend_service_path(@friend_service), class: 'btn btn-danger btn-sm', data: {turbo_method: :delete, turbo_confirm: "Are you sure you?"} %>
      <%end%>
    </div>
  </div>
</div>
<%= render "layouts/footer" %>
